<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <h1>ScholarshipKing</h1>
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><%= link_to "Scholarships", scholarships_path %></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      

      <div> 
        <p class="lead text-center">Apply for scholarships.  Win money for college.</p>
        <p class="lead text-center"><a class="btn btn-large btn-info" <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></a></p>
      </div>

      <div class="lead text-center">
          <h4>ScholarshipKing is brought to you by eCampus.</h4>
          <p>We provide services for college students.</p>
        </div>

      
        </div>
      </div>

      <div class="footer text-center">
        <p>&copy; ECampus, LLC 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
